#contactlog{
    display: flex;
    justify-content: space-between;
   
    
}
#contact{
    padding-top: 15px;
    font-size: larger;
}
#maincontainer{
    border:2px solid red;
    width:50%;

    padding-left: 150px;
    padding-right: 20px;
}
input{
    
    height: 40px;
    border-radius: 5px;
    margin-bottom: 10px;
    
}
#name{
    display: flex;
    gap: 10px;
    
}
.state{
    width:200px;
    gap:10px;
    
}